<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" name="username" required autocomplete="off"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required autocomplete="off"><br>
        <button type="submit">Login</button>
    </form>
    <p><a href="/register">Don't have an account? Register here</a></p>
    <p>You are 1 step away</p>
</body>
</html>
